<li>
  <%= image_tag user.avatar.url, class: "img-circle", size: Settings.user.avt_friend %>
  <%= link_to user.name, user %>
  <% if can? :manage, :all %>
    | <%= link_to t(".admin"), user, method: :patch,
    data: {confirm: t(".confirm")} %>
  <% end %>
</li>
